In [1]:
#Q1 :

string = "Hello World"
list = [1, 2, 3]
float = 3.14
tuple = (1, 2, 3)

In [2]:
#Q2:

var1 = '' # string
var2 = '[ DS , ML , Python]' # string
var3 = ['DS', 'ML', 'Python'] # list
var4 = 1. # float

Q3:

"/": It gives back the division's quotient. For instance, 10/3 will result in 3.3333333333333335.
%: The modulo operation is performed using this operator. It gives back the division's remaining value. 10% 3 will, for instance, return 1.
//: The floor division operator is used. It gives back the division's quotient, rounded to the nearest integer. For illustration, 10 // 3 will result in 3.
**: Exponentiation is done using this operator. The outcome of raising the first operand to the power of the second operand is what is returned. For instance, the result of 2 ** 3 is 8.

In [1]:
#Q4:
l =[1,23,53, "python","R",3.23,"mongo db",4,5,4.65]

for i in l:
    print(type(i))
    print(i)

<class 'int'>
1
<class 'int'>
23
<class 'int'>
53
<class 'str'>
python
<class 'str'>
R
<class 'float'>
3.23
<class 'str'>
mongo db
<class 'int'>
4
<class 'int'>
5
<class 'float'>
4.65

In [ ]:
#Q5:

a = int(input())
b = int(input())
sum =0
while a%b==0:
    sum = sum +1
    a= a/b
if sum>0:
    print(f"A is {sum} time divisible by B" )
else:
    print(f"A is not divisble by B")

In [ ]:
#Q6:

numbers = [7, 12, 15, 67, 10, 18, 21, 4, 27, 76, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75]

for num in numbers:
    if num % 3 == 0:
        print(num, "is divisible by 3")
    else:
        print(num, "is not divisible by 3")

Q7:

IMMUTABLE : Data types classified as immutable are those whose values cannot be altered after creation. Any action that seems to change an immutable object actually produces a brand-new object with the desired value. Strings, tuples, booleans, floating, integers, and floats are a few examples of immutable data types.
MUTABLE:
mutable data types are those that can be modified after they are created. Changes made to a mutable object affect the object itself, without creating a new object. Examples of mutable data types include lists, dictionaries, and sets.

In [ ]:
#Q8:

string1 = "Hello"
string2 = string1
string1 += " World"

print(string1)  
print(string2)

In [ ]:
#Q9:

list1 = [1, 2, 3]
list2 = list1
list1.append(4)

print(list1)  
print(list2)